@CHARSET "utf-8";

/* head.html */
#class{
	width : 300px;
	float : left;
	position : relative; 
	height : 55px;
	background-image: url("../img/top/bg_1.png");
	color : white;	
}

#title{
	width : 650px;
	display : block;
	position : relative;
	float : left;
	height : 60px;
}

#head1 td{
	padding-top : 10px;
	padding-left : 12px;
}

#title_btn{
	width : 103px;
	height : 25px;
	text-align:center;
	padding-top:5px;
	background-image: url("../img/top/label_btn.png");
	margin-right : 10px;
	color : white;
	margin-top:30px;
}


/*frame.html*/

#wrapper{
	margin : 0 auto;
	width : 1100px;
}

#head{
 	position : relative;
 	display : block;
}

#sub{
	position : relative;
 	display : block;
 	float : left;
 	width: 300px;
}

#body{
	background : white;
	float : right;
	position : relative;
 	display : block;
 	width : 790px;
 	margin-top:5px;
}

body{
	background-image: url("../img/top/background.png");
	background-repeat:repeat-x;
}







